[submodule "External/ReSwift"]
	path = External/ReSwift
	url = git@github.com:tkersey/ReSwift.git
[submodule "External/ReSwift-Router"]
	path = External/ReSwift-Router
	url = git@github.com:tkersey/ReSwift-Router.git
